*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #d9dee2;
    padding: 20px 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

button {
    background-color: #2ffc28;
    border: none;
    color: white;
    font-size: 32px;
    font-weight: bold;
    width: 70px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:disabled {
    background-color: #047900;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #2ffc28;
}

#szamlalo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f50f07;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}